body{
    margin: 0 auto;
    max-width: 800px;
    background-color: rgb(129, 126, 122);
    font-family: 'Tiro Telugu', serif;
}

header>h1{
    text-align: center;
}

header>nav{
    text-align: right;
}

main{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.nav{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: 1s;
}

:hover>.nav{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 7px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 400px;
    margin-top: 10px;
}

.education{
    margin-top: 30px;
}

footer{
    margin-top: 90px;
}

nav>ul>li>a>img{
    width: 40px;
}


nav>ul>li{
    display: inline-block;
    padding: 10px;
}

