body{
    margin: 0 auto;
    max-width: 800px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin-top: 10px;
    font-family: 'Tiro Telugu', serif;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
}

ul>li{
    padding: 4px;
}

iframe{
    max-width: 795px;
}

    